body {
  background-color: rgb(235, 167, 167);
    }
      h1 {
        font-size: 36px;
        margin: 20px;
      }
      form {
        background-color: rgb(235, 167, 167);
        padding: 20px;
        border-radius: 10px;
        margin: 0 auto;
        width: 300px;
      }
      label {
        font-size: 18px;
        margin-bottom: 10px;
        display: block;
      }
      input[type="text"], input[type="password"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid rgb(35, 105, 255);
        border-radius: 4px;
      }
      input[type="submit"] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        background-color: #45a049;
      }
      table {
        width: 80%;
        margin: 0 auto;
        border-collapse: collapse;
      }
      
      th, td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
      }
      
      th {
        background-color: #000000;
      }
      
      button {
        background-color: #4351d6;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      

